@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
    box-sizing: border-box;
}

body {
    /*padding: 50px;z/*/
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

section#about {
    text-align: center;
}
section h1 {
    text-align: center;
}

.container {
    padding: 0px 15px 0px 15px;
}
@media (min-width: 0) {
    .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .container:after {
        content: " ";
        display: block;
        clear: both;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
    .container:after {
        content: " ";
        display: block;
        clear: both;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
    .container:after {
        content: " ";
        display: block;
        clear: both;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .container:after {
        content: " ";
        display: block;
        clear: both;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
    .container:after {
        content: " ";
        display: block;
        clear: both;
    }
}

a {
    text-decoration: none;
    color: rgba(34, 34, 34, 0.8);
}
a:hover, a :focus {
    color: black;
}

.menu-left a {
    display: inline-block;
    position: relative;
    padding-bottom: 0px;
    transition: color .35s ease;
}
.menu-left a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .35s ease;
}
.menu-left a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #000;
    transition: width .35s ease;
}
.menu-left a:hover:before {
    width: 100%;
    background: #000;
    transition: width .35s ease;
}
.menu-left a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);



h1,
h4 {
    font-family: "Raleway", "Open Sans", sans-serif;
    margin: 0;
    line-height: 1;
}



.centerer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 600px) {
    .wrap {
        width: 50%;
        float: left;
    }
}
[class^=btn-] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 80px;
    max-width: 250px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
}

.btn-0 {
    color: #746477;
}
.btn-0:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #372c39;
    transform: translateX(-100%);
}
.btn-0:hover {
    color: #d6d2d7;
}
.btn-0:hover:before {
    transform: translateX(0);
}

.btn-1 {
    color: #28588e;
}
.btn-1:before {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #012349;
    transform: translateX(-100%);
}
.btn-1:hover {
    color: #c0cede;
}
.btn-1:hover:before {
    transform: translateX(0);
}

.btn-1-2 {
    color: #6ab979;
}
.btn-1-2:before, .btn-1-2:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 80px solid #30683a;
}
.btn-1-2:before {
    right: -50px;
    border-right: 50px solid transparent;
    transform: translateX(-100%);
}
.btn-1-2:after {
    left: -50px;
    border-left: 50px solid transparent;
    transform: translateX(100%);
}
.btn-1-2:hover {
    color: #d3ebd8;
}
.btn-1-2:hover:before {
    transform: translateX(-40%);
}
.btn-1-2:hover:after {
    transform: translateX(40%);
}

.btn-2 {
    color: #5cb19c;
}
.btn-2:before, .btn-2:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.btn-2:before {
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #266253;
    transform: translateX(-100%);
}
.btn-2:after {
    left: -50px;
    border-left: 50px solid transparent;
    border-top: 80px solid #266253;
    transform: translateX(100%);
}
.btn-2:hover {
    color: #cfe8e2;
}
.btn-2:hover:before {
    transform: translateX(-49%);
}
.btn-2:hover:after {
    transform: translateX(49%);
}

.btn-3:before, .btn-3:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 40px solid #236834;
    border-bottom: 40px solid #236834;
}
.btn-3:before {
    border-right: 40px solid transparent;
    transform: translateX(-100%);
}
.btn-3:after {
    border-left: 40px solid transparent;
    transform: translateX(100%);
}
.btn-3:hover {
    color: #ceebd5;
}
.btn-3:hover:before {
    transform: translateX(-30%);
}
.btn-3:hover:after {
    transform: translateX(30%);
}

.btn-4 {
    color: #bc3699;
}
.btn-4:before, .btn-4:after,
.btn-4 span:before,
.btn-4 span:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #6a0b51;
}
.btn-4:before {
    transform: translate(-100%, -100%);
}
.btn-4:after {
    transform: translate(-100%, 100%);
}
.btn-4 span:before {
    transform: translate(100%, -100%);
}
.btn-4 span:after {
    transform: translate(100%, 100%);
}
.btn-4:hover {
    color: #ebc4e1;
}
.btn-4:hover:before {
    transform: translate(-50%, -50%);
}
.btn-4:hover:after {
    transform: translate(-50%, 50%);
}
.btn-4:hover span:before {
    transform: translate(50%, -50%);
}
.btn-4:hover span:after {
    transform: translate(50%, 50%);
}

.btn-5 {
    color: #9caaa9;
}
.btn-5:after {
    content: "";
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent #535d5c transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.btn-5:before {
    content: "";
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent transparent transparent #535d5c;
    position: absolute;
    bottom: 0;
    left: 0;
}
.btn-5:before, .btn-5:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid;
    transform: rotate(360deg);
}
.btn-5:before {
    bottom: 0;
    left: 0;
    border-color: transparent transparent transparent #535d5c;
}
.btn-5:after {
    top: 0;
    right: 0;
    border-color: transparent #535d5c transparent transparent;
}
.btn-5:hover {
    color: #e2e6e6;
}
.btn-5:hover:before, .btn-5:hover:after {
    border-width: 80px 262.5px;
}

.btn-6 {
    color: #c98150;
}
.btn-6 span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #73401d;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.btn-6:hover {
    color: #efdacc;
}
.btn-6:hover span {
    width: 225%;
    height: 562.5px;
}
.btn-6:active {
    background-color: #c06b31;
}

.btn-7 {
    color: #6ec3a1;
}
.btn-7:before, .btn-7:after,
.btn-7 span:before,
.btn-7 span:after {
    content: "";
    position: absolute;
    top: 0;
    width: 25.25%;
    height: 0;
    background-color: #326e56;
}
.btn-7:before {
    left: 0;
}
.btn-7:after {
    left: 50%;
}
.btn-7 span:before, .btn-7 span:after {
    top: auto;
    bottom: 0;
}
.btn-7 span:before {
    left: 25%;
}
.btn-7 span:after {
    left: 75%;
}
.btn-7:hover {
    color: #d4ede3;
}
.btn-7:hover:before, .btn-7:hover:after,
.btn-7:hover span:before,
.btn-7:hover span:after {
    height: 80px;
}

.btn-8 {
    color: #bd67a1;
}
.btn-8:before, .btn-8:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #6a2e56;
}
.btn-8:before {
    transform: translateY(-100%);
}
.btn-8:after {
    transform: translateY(100%);
}
.btn-8:hover {
    color: #ecd2e3;
}
.btn-8:hover:before {
    transform: translateY(-50%);
}
.btn-8:hover:after {
    transform: translateY(50%);
}

.btn-9 {
    color: #49669f;
}
.btn-9:before, .btn-9:after,
.btn-9 span:before,
.btn-9 span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(25, 45, 85, 0.25);
    transition: 0.4s ease-in-out;
}
.btn-9:after,
.btn-9 span:before {
    top: auto;
    bottom: 0;
}
.btn-9 span:before,
.btn-9 span:after {
    transition-delay: 0.4s;
}
.btn-9:hover {
    color: #cad2e3;
}
.btn-9:hover:before, .btn-9:hover:after,
.btn-9:hover span:before,
.btn-9:hover span:after {
    height: 80px;
}
.btn-9:active {
    background-color: #294b8e;
}

.btn-10 {
    color: #7065b8;
}
.btn-10:before, .btn-10:after,
.btn-10 span:before,
.btn-10 span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 80px;
    background-color: rgba(52, 44, 103, 0.25);
    transition: 0.4s;
}
.btn-10:after,
.btn-10 span:before {
    left: auto;
    right: 0;
}
.btn-10 span:before,
.btn-10 span:after {
    transition-delay: 0.4s;
}
.btn-10:hover {
    color: #d5d2ea;
}
.btn-10:hover:before, .btn-10:hover:after,
.btn-10:hover span:before,
.btn-10:hover span:after {
    width: 250px;
}
.btn-10:active {
    background-color: #574aac;
}

@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}
@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}
.btn-11 {
    position: relative;
    color: #3089ca;
}
.btn-11:before, .btn-11:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #0c74c1;
    border-radius: 50%;
}
.btn-11:before {
    left: -20px;
    transform: translate(-50%, -50%);
}
.btn-11:after {
    right: -20px;
    transform: translate(50%, -50%);
}
.btn-11:hover {
    color: #c2dcf0;
}
.btn-11:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.btn-11:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
header#headernav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 3;
    will-change: transform;
    transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
footer {
    will-change: transform;
    transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
}
header nav .logo {
    float: left;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    font-weight: 500;
    color: black;
}
header nav .logo:after {
    content: '';
    display: table;
    clear: both;
}
header nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
header nav ul li {
    float: none;
    margin-left: 0;
}
@media (min-width: 768px) {
    header nav ul li {
        float: left;
        margin-left: 1rem;
    }
}
header nav ul li a {
    display: block;
}
@media (min-width: 576px) {
    header nav ul li a {
        display: block;
        padding: .425rem 0rem;
    }
}

@media (max-width: 768px) {
    ul {
        clear: both;
    }
    ul li {
        padding: .5em 0;
    }
}
.hide-nav {
    transform: translateY(-120%) !important;
    -webkit-transform: translateY(-120%) !important;
}
.hide-footer {
    transform: translateY(+120%) !important;
    -webkit-transform: translateY(+120%) !important;
}

ul.menu-left {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 10;
}
@media (min-width: 768px) {
    ul.menu-left {
        display: block !important;
        float: right;
        max-height: none;
    }
}
ul.menu-left:before {
    content: '';
    display: table;
    clear: both;
}
ul.menu-left.collapse {
    max-height: 15em !important;
}

.nav-toggle {
    display: block;
    border-radius: 5px;
    background-color: transparent;
    float: right;
    height: 38px;
    width: 38px;
    cursor: pointer;
    padding: 8px 8px;
}
.nav-toggle.open span:first-child {
    transform: rotate(45deg) translate(4.4px, 4.4px);
}
.nav-toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
.nav-toggle.open span:last-child {
    transform: rotate(-45deg) translate(4.4px, -4.4px);
}
@media (min-width: 768px) {
    .nav-toggle {
        display: none;
    }
}
.nav-toggle span {
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 4px;
    background-color: #000;
    transition: all .25s;
}
@media (max-width: 575.98px) {
    .modal-fullscreen {
        padding: 0 !important;
    }
    .modal-fullscreen .modal-dialog {
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-fullscreen .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-fullscreen .modal-body {
        overflow-y: auto;
    }
}
@media (max-width: 767.98px) {
    .modal-fullscreen-sm {
        padding: 0 !important;
    }
    .modal-fullscreen-sm .modal-dialog {
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-fullscreen-sm .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-fullscreen-sm .modal-body {
        overflow-y: auto;
    }
}
@media (max-width: 991.98px) {
    .modal-fullscreen-md {
        padding: 0 !important;
    }
    .modal-fullscreen-md .modal-dialog {
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-fullscreen-md .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-fullscreen-md .modal-body {
        overflow-y: auto;
    }
}
@media (max-width: 1199.98px) {
    .modal-fullscreen-lg {
        padding: 0 !important;
    }
    .modal-fullscreen-lg .modal-dialog {
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-fullscreen-lg .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-fullscreen-lg .modal-body {
        overflow-y: auto;
    }
}
.modal-fullscreen-xl {
    padding: 0 !important;
}
.modal-fullscreen-xl .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}
.modal-fullscreen-xl .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}
.modal-fullscreen-xl .modal-body {
    overflow-y: auto;
}

html {
    height: 100%;
}

body {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-open-modal {
    margin-bottom: 0.5em;
}
.signature {
    position: fixed;
    font-weight: 100;
    bottom: 10px;
    color: #000;
    left: 0;
    letter-spacing: 4px;
    font-size: 10px;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.half {
    width: 50%;
}


html, body {
    min-height: 100%;
    height: 100%;
    /*background-image: url(http://theartmad.com/wp-content/uploads/Dark-Grey-Texture-Wallpaper-5.jpg);*/
    /*background-size: cover;*/
    /*background-position: top center;*/
    /*font-family: helvetica neue, helvetica, arial, sans-serif;*/
    /*font-weight: 200;*/
  }
  html.modal-active, body.modal-active {
    overflow: hidden;
  }

  #modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;
  }
  #modal-container.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one .modal-background .modal {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out .modal-background .modal {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two {
    transform: scale(1);
  }
  #modal-container.two .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two .modal-background .modal {
    opacity: 0;
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two + .content {
    animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
  }
  #modal-container.two.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two.out .modal-background .modal {
    animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two.out + .content {
    animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.three {
    z-index: 0;
    transform: scale(1);
  }
  #modal-container.three .modal-background {
    background: rgba(0, 0, 0, 0.6);
  }
  #modal-container.three .modal-background .modal {
    animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.three + .content {
    z-index: 1;
    animation: slideUpLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.three.out .modal-background .modal {
    animation: moveDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.three.out + .content {
    animation: slideDownLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.four {
    z-index: 0;
    transform: scale(1);
  }
  #modal-container.four .modal-background {
    background: rgba(0, 0, 0, 0.7);
  }
  #modal-container.four .modal-background .modal {
    animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.four + .content {
    z-index: 1;
    animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.four.out .modal-background .modal {
    animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.four.out + .content {
    animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.five {
    transform: scale(1);
  }
  #modal-container.five .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.five .modal-background .modal {
    transform: translateX(-1500px);
    animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.five.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
  }
  #modal-container.five.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.five.out .modal-background .modal {
    animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six {
    transform: scale(1);
  }
  #modal-container.six .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six .modal-background .modal {
    background-color: transparent;
    animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six .modal-background .modal h2, #modal-container.six .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six .modal-background .modal .modal-svg rect {
    animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
  }
  #modal-container.six.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six.out .modal-background .modal {
    animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six.out .modal-background .modal h2, #modal-container.six.out .modal-background .modal p {
    animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six.out .modal-background .modal .modal-svg rect {
    animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.seven {
    transform: scale(1);
  }
  #modal-container.seven .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.seven .modal-background .modal {
    height: 75px;
    width: 75px;
    border-radius: 75px;
    overflow: hidden;
    animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.seven .modal-background .modal h2, #modal-container.seven .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 0.5s 1.4s linear forwards;
  }
  #modal-container.seven.out {
    animation: slowFade 0.5s 1.5s linear forwards;
  }
  #modal-container.seven.out .modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeToRed 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.seven.out .modal-background .modal {
    border-radius: 3px;
    height: 162px;
    width: 227px;
    animation: killShot 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.seven.out .modal-background .modal h2, #modal-container.seven.out .modal-background .modal p {
    animation: modalContentFadeOut 0.5s 0.5 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #modal-container .modal-background .modal {
    background: white;
    padding: 50px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
  }
  #modal-container .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  #modal-container .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
  }
  #modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }
  #modal-container .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
  }

  .content {
    min-height: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 0;
  }
  .content h1 {
    padding: 75px 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
  .content .buttons {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .content .buttons .button {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    background: red;
    font-size: 18px;
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .content .buttons .button:hover {
    color: white;
    background: #009bd5;
  }

  @keyframes unfoldIn {
    0% {
      transform: scaleY(0.005) scaleX(0);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(1) scaleX(1);
    }
  }
  @keyframes unfoldOut {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(0.005) scaleX(0);
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes fadeIn {
    0% {
      background: rgba(0, 0, 0, 0);
    }
    100% {
      background: rgba(0, 0, 0, 0.7);
    }
  }
  @keyframes fadeOut {
    0% {
      background: rgba(0, 0, 0, 0.7);
    }
    100% {
      background: rgba(0, 0, 0, 0);
    }
  }
  @keyframes scaleUp {
    0% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
  }
  @keyframes scaleDown {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
    100% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
  }
  @keyframes scaleBack {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.85);
    }
  }
  @keyframes scaleForward {
    0% {
      transform: scale(0.85);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes quickScaleDown {
    0% {
      transform: scale(1);
    }
    99.9% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes slideUpLarge {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  @keyframes slideDownLarge {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes moveUp {
    0% {
      transform: translateY(150px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes moveDown {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(150px);
    }
  }
  @keyframes blowUpContent {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    99.9% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes blowUpContentTwo {
    0% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes blowUpModal {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes blowUpModalTwo {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  @keyframes roadRunnerIn {
    0% {
      transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
    }
    70% {
      transform: translateX(30px) skewX(0deg) scaleX(0.9);
    }
    100% {
      transform: translateX(0px) skewX(0deg) scaleX(1);
    }
  }
  @keyframes roadRunnerOut {
    0% {
      transform: translateX(0px) skewX(0deg) scaleX(1);
    }
    30% {
      transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    }
    100% {
      transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    }
  }
  @keyframes sketchIn {
    0% {
      stroke-dashoffset: 778;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes sketchOut {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 778;
    }
  }
  @keyframes modalFadeIn {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: white;
    }
  }
  @keyframes modalFadeOut {
    0% {
      background-color: white;
    }
    100% {
      background-color: transparent;
    }
  }
  @keyframes modalContentFadeIn {
    0% {
      opacity: 0;
      top: -20px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
  @keyframes modalContentFadeOut {
    0% {
      opacity: 1;
      top: 0px;
    }
    100% {
      opacity: 0;
      top: -20px;
    }
  }
  @keyframes bondJamesBond {
    0% {
      transform: translateX(1000px);
    }
    80% {
      transform: translateX(0px);
      border-radius: 75px;
      height: 75px;
      width: 75px;
    }
    90% {
      border-radius: 3px;
      height: 182px;
      width: 247px;
    }
    100% {
      border-radius: 3px;
      height: 162px;
      width: 227px;
    }
  }
  @keyframes killShot {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(300px) rotate(45deg);
      opacity: 0;
    }
  }
  @keyframes fadeToRed {
    0% {
      background-color: rgba(0, 0, 0, 0.6);
    }
    100% {
      background-color: rgba(255, 0, 0, 0.8);
    }
  }
  @keyframes slowFade {
    0% {
      opacity: 1;
    }
    99.9% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

